.siderStyles{
  transition: all .5s;
  position: relative;
  &>div{
    height: 100%;
  }
}

.layoutWrapperStyles{

    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
}

.logoStyles{
  margin-top: 30px;
  margin-bottom: 50px;
}

.logoOpenedStyles {
  padding: 14px 46px 17px 29px;
}

.logoClosedStyles {
  padding: 19px 17px;
}

.menuIconStyles {
  svg {
    path {
     fill: #061178
    }
  }
  color: #061178;
}

.menuLabelStyles {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #262626;
}

.menuStyles {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  list-style: none;
  margin: 0;

  & li[class*='ant-menu-item'] {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
    box-sizing: border-box;
    min-height: 48px;
  }
}

.menuOpenedStyles {
  padding: 0 0 0 16px;

  & li[class*='ant-menu-item'] {
    padding: 12px 0 !important;
  }
}

.menuClosedStyles {
  padding: 0;

  & li[class*='ant-menu-item'] {
    padding: 12px 0 !important;
    justify-content: center;
  }
}

.divider {
  background-color: #F0F0F0;
  height: 1px;
}

.exitButtonStyles{
  padding: 4px 15px 4px 0;
  display: flex;
  align-items: center;
  gap: 25px;
  margin-left: 16px;
  border: none;
  background: none;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active{
    outline: none;
    border: none;
    background-color: #FAFAFA;
  }
}

.exitButtonOpenedStyles{
  margin: 7px 0 7px 16px;
}

.exitButtonClosedStyles{
  padding: 12px 16px 12px 0;
}

.exitTextStyles {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #262626;
}

.switcherStyles{
  position: absolute;
  top: 50%;
  right: -20px;
  padding: 0;
  background-color: transparent;
  z-index: 5;
  transform: translateY(-100%);
  width: 22px;
  height: 66px;
  border: none;
  &:focus,
  &:hover {
    border: none;
    outline: none
  };
}

@media screen and (max-width: 705px) {
  .siderStyles{
    position: fixed;
    z-index: 3;
    background-color: #FFF;
    height: 100%;
    top: 0;
    left: 0;
  }

  .siderClosedStyles{
    transform: translateX(-100%);
  }
  
  .logoStyles{
    margin-top: 0;
    margin-bottom: 16px;
    max-width: 72px;
  }
  
  .logoOpenedStyles {
    padding: 16px 17px;
  }
  
  .logoClosedStyles {
    display: block;
  }
  
  .menuIconStyles {
    display: none;
  }
  
  .menuStyles {
    row-gap: 9px;
  }
  
  .menuOpenedStyles {
    padding: 0;
  
    & li[class*='ant-menu-item'] {
      justify-content: center;
    }
  }
  
  .exitButtonStyles{
    padding: 4px 15px;
    margin-left: 0;
    gap: 0;
  }
  
  .exitButtonOpenedStyles{
    margin: 7px 16px;
  }
  
  .exitButtonClosedStyles{
    padding: 0;
  }

  .exitIconStyles{
    display: none;
  }
  
  .switcherStyles{
    top: 24px;
    right: -30px;
    width: 31px;
    height: 48px;
    transform: translate(0);
  }
}