@import '../../styles/index.scss';

section[class*='ant-layout'] {
  min-height: 100vh;
}

.mainLayout {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  .contentWrapper {
    .breadcrumbs {
      li {
        @include Body-regular($character-light-title-85);
      }
      width: 100%;
      background-color: $primary-light-1;
    
      padding: 16px 24px;
      box-sizing: border-box;
      .separator{
        color: $character-light-secondary-45;
      }
    }
    .buttons{
      padding: 112px 24px 48px;
      box-sizing: border-box;
      .button{
        padding: 10px 15px;
        height: auto;
      }
      .primaryButton{
        @include Body-regular($character-light-primary-inverse);
      }
      .textButton{
        @include Body-regular($primary-light-6);
      }
    }
  }
}

.result{
  padding: 64px 85px !important;
}

.contentWrapper {
  position: relative;
  background: url("../../../main-screen--light.png") center / cover no-repeat;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.noFeedback{
  height: 100%;
  display: grid;
  justify-content: center;
}

.contentStyles {
  display: flex;
  flex-direction: column;
}

.swiper {
  width: 100%;
  max-height: 730px;
}

.containerStyles {
  padding: 24px 24px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  .swiperSlide{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: auto;
  }
}

@media screen and (max-width: 560px) {
  .mainLayout {
    .contentWrapper {
      .buttons{
        flex-direction: column;
        gap: 16px;
        padding: 32px 16px 42px;
      }
    }
  }
  .containerStyles {
    padding: 24px 16px 16px;
    .swiperSlide{
      gap: 16px;
    }
  }
}

@media screen and (max-width: 361px) {
  .result{
    padding: 32px 16px !important;
  }
}