@import '../../styles/index.scss';

.wrapper{
  max-width: 540px;
  padding: 64px 85px;
  background-color: $neutral-gray-1;
  width: 100%;
  box-sizing: border-box;
  div[class*='ant-image'] {
    display: flex;
    justify-content: center;
  }
  .textWrapper{
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .title{
    @include H3-medium($character-light-title-85);
    margin: 0;
    text-align: center;
  }
  .description{
    @include Body-regular($character-light-secondary-45);
    text-align: center;
  }
  .button{
    display: block;
    @include Body-regular($character-light-primary-inverse);
    padding: 11px 17px;
    margin: 0 auto;
  }
}

.confirmEmailPage{
  padding: 64px 32px 56px;
}

@media screen and (max-width: 420px) {
  .wrapper{
    padding: 32px 16px;
  }

  .confirmEmailPage{
    padding: 64px 32px 56px;
  }
}