@import '../../styles/index.scss';

.footerStyles {
  width: 100%;
  box-sizing: border-box;
  padding: 156px 24px 42px;
}

.wrapperStyles {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end;
}

.commentButtonStyles {
  background: transparent;
  @include H6-regular($primary-light-6);
  border: none;
  &:hover,
  &:focus{
    outline: none;
    border: none;
  }
}

.cardStyles {
  background-color: $character-light-primary-inverse;
  padding: 12px 0;
  box-sizing: border-box;
}

.cardTitleStyles {
  @include H6-regular($primary-light-6);
  padding-left: 24px;
}

.subtitleStyles {
  @include Body-regular($character-light-secondary-45);
  padding: 0 24px;
}

.divider {
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: $character-light-dividers;
  height: 1px;
}

.buttonContainerStyles {
  display: flex;
}

.cardButtonStyles {
  display: flex;
  align-items: center;
  justify-content: center;
  @include Body-regular($character-light-title-85);
  column-gap: 8px;
  width: 100%;
  border: none;
  background: none;
  transition: all 0.2s;
  &:hover,
  &:focus,
  &:active{
    outline: none;
    border: none;
    background-color: $character-light-table-header;
  }
}

@media screen and (max-width: 835px) {
  .footerStyles {
    width: 100%;
    box-sizing: border-box;
    padding: 237px 24px 42px;
  }
}

@media screen and (max-width: 705px) {
  .footerStyles {
    padding: 0 16px 42px;
  }

  .wrapperStyles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 24px;
  }

  div[class*='ant-card-head-title'] {
    text-align: center;
  }

  .cardTitleStyles {
    padding-left: 0;
  }

  .subtitleStyles {
    display: block;
    text-align: center;
    margin-top: 8px;
  }

  .buttonContainerStyles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .cardButtonStyles {
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .commentButtonStyles {
    width: 100%;
  }
}