@import '../../styles/index.scss';

.footerStyles {
  width: 100%;
  box-sizing: border-box;
  padding: 156px 24px 42px;
  background: none;
  & div[class*='ant-card-head-title'] {
    box-sizing: border-box;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.wrapperStyles {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.commentButtonStyles {
  background: transparent;
  @include H6-regular($primary-light-6);
}

.cardStyles {
  background-color: $character-light-primary-inverse;
  box-sizing: border-box;
}

.cardTitleStyles {
  @include H6-regular($primary-light-6);
  text-align: left;
}

.subtitleStyles {
  @include Body-regular($character-light-secondary-45);
  text-align: left;
}

.buttonContainerStyles {
  display: flex;
}

.cardButtonStyles {
  @include Body-regular($character-light-title-85);
}

@media screen and (max-width: 835px) {
  .footerStyles {
    width: 100%;
    box-sizing: border-box;
    padding: 237px 24px 42px;
  }
}

@media screen and (max-width: 705px) {
  .footerStyles {
    padding: 0 16px 42px;
  }

  .wrapperStyles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    row-gap: 24px;
    .cardCol {
      order: 0;
    }
    .buttonCol {
      order: 1;
    }
  }

  div[class*='ant-card-head-title'] {
    text-align: center;
  }

  .cardTitleStyles {
    text-align: center;
  }

  .subtitleStyles {
    text-align: center;
  }

}